input {
    color: white !important;
}

label {
    color: rgb(153, 153, 153) !important;
}

.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-div {
    margin-bottom : 10px !important;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}